name: Deploy to EC2

on:
  push:
    branches:
      - cicd_testing 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd Pdf_Video_Generation
            git pull
            # Rebuild securely without cache to ensure code updates
            docker compose up -d --build
            # Clean up space
            docker image prune -f